.navbar {
    background-color: white;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 100%;
}

.logo img {
    scale: 0.75;
}

.container {
    display: flex;
    margin: 0 64px;
    align-items: center;
}

.nav-links a {
    margin-left: 24px;
}

.nav-links a:hover {
    border-bottom: 2px solid blue;
}

.nav-buttons {
    margin-left: auto;
    display: flex;
}

.nav-button {
    margin-left: 4px;
    cursor: pointer;
    border: none;
    background: white;
}

.button-menu-mobile {
    cursor: pointer;
    border: none;
    background: white;
}

.nav-mobile {
    background-color: rgb(241, 240, 240);
    padding-top: 24px;
}

.nav-mobile a {
    flex-direction: column;
    display: block;
    font-size: large;
    padding: 12px 0;
    margin-left: 12px;
}

a {
    text-decoration: none;
    color: #2e2e2e;
    text-align: left;
}

.search {
    display: flex;
    width: 100%;
    margin: 6px 0px 6px 12px;
}

.input-text {
    width: 87.5%;
    padding: 6px 12px;
    font-size: 16px;
    border: 2px solid blue;;
    border-radius: 16px;
    outline: none;
    margin-right: 12px;
}

.button-cancelar {
    background-color: white;
    cursor: pointer;
    border-width: 1px;
}

@media (min-width: 801px) {    
    .button-menu-mobile {
        display: none;
    }

    .nav-mobile {
        display: none;
    }
}

@media (max-width: 800px) {
    .container {
        margin: 0 12px;
    }

    .logo {
        display: inline-flex;
        margin: auto;
    }

    .logo img {
        scale: 0.6;
    }

    .nav-links {
        display: none;
    }

    .button-cancelar {
        display: none;
    }
}

@media (max-width: 350px) {
    .container {
        margin: 0 4px;
    }

    .logo img {
        scale: 0.5;
    }

    .nav-button {
        margin-left: 0px;
    }
}